.root-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.root-layout__content {
  flex: 1;
  animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

